
body{
    min-width: 360px;
    background-color: #f0f0f0;
  }
  
  .container-fluid{
    margin:0 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  .flipkart-logo{
    height:20px ;
    width:75px
  }
  
  .flipkart-plus-link{
    height: 15px;
    width: 75px;
    font-size: small;
  }

  .flipkart-plus-link:hover{
    color: white !important;
  }
  
  .flipkart-plus-logo{
    height: 8px;
    width: 8px;
  }
  
  .nav-login{
    width: 100%;
  }
  
  .nav-dropdown{
    width: 100%;
  }
  
  .drpdwn-content {
      display: none;
      width: max-content;
      text-align: left;
      position: absolute;
      left: -70px;
      z-index: 2;
    }
  
    .drpdwn-item {
      padding: 14px 18px;
      display: block;
      text-decoration: none;
      color: navy;
      background-color: white;
      border-bottom: 1px solid lightgray;
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;
    }
  
    .den {
      display: none !important;
    }
  
    .drpdwn:hover .drpdwn-content {
      display: block;
    }
  
    .drpdwn:hover .den {
      display: inline-block !important;
    }
  
    .drpdwn:hover .deni {
      display: none;
    }
  
    .drpdwn-item:hover {
      background-color: whitesmoke;
    }
  
    .nav-search{
      width: 90%;
    }
  
    .search-btn{
      margin-left: -50px;
    }
  
    .nav-img{
      height: 65px;
      width: 65px;
    }

    .nav-seller{
        font-weight: bold;
        font-size: larger;
        display: flex;
        margin-left: 10px;
    }

    .nav-dropdown{
        font-size: larger;
        font-weight: bold;
        padding: 0px;
        display: flex;
        justify-content: center;
    }
  
    .nav-cart{
      font-weight: bold;
      font-size: larger;
      display: flex;
    }
  
    .nav-img:hover .topnav-card-text{
      color: var(--bs-primary);
    }
  
    @media only screen and (max-width: 600px) {
      .nav-img {
        height: 35px;
        width: 30px;
      }
  
      .topnav-card{
        width: 45px;
        white-space: nowrap;
        font-size: 8px;
        text-overflow: ellipsis 
      }
  
      .flipkart-logo{
        height: 15px;
        width: 40px;
      }
  
      .flipkart-plus-link{
        height: 10px; 
        width: 40px;
        font-size: smaller;
      }
  
      .explore{
        display: none;
      }
  
      .flipkart-plus-logo{
        height: 4px;
        width: 4px;
      }
  
      .nav-search{
        width: 80%;
        margin-left: 15px;
        font-size: small;
        height: 25px;
      }
  
      .search-btn{
        padding: 0%;
        margin-left: -25px;
      }
  
      .nav-search-div{
        width: 40%;
      }
  
      .nav-login{
        font-size: 10px;
        margin-left: -10px;
        padding: 0%;
        width: 150%;
      }
  
      .nav-seller{
        font-size: 10px;
        font-weight: bold;
        margin-left: 5px;
        width: 130%;
        padding: 0%;
      }
  
      .drpdwn{
        margin-left: 15px;
      }
  
      .nav-dropdown{
        font-size: 10px;
        font-weight: bold;
      }
  
      .deni{
        display: none !important;
      }
  
      .den{
        display: none !important;
      }

      .nav-cart{
        font-size: 10px;
      }
  
      .nav-cart-text{
        display: none;
      }
    
      .drpdwn-item {
        font-size: small;
        padding: 8px 10px;
      }
  
      .card-row{
        max-height: 300px;
      }
  
      .card-text{
        font-size: smaller;
        overflow: hidden;
        text-overflow: ellipsis ;
      }
    }

    @media only screen and (min-width:601px) and (max-width:768px){
        .nav-img{
            height: 40px;
            width: 40px;
        }

        .topnav-card{
            width: 45px;
            white-space: nowrap;
            font-size: 10px;
        }

        .flipkart-logo{
            height: 15px;
            width: 40px;
        }

        .flipkart-plus-link{
            height: 15x; 
            font-size: smaller;
        }

        .explore{
            display: none;
        }

        .flipkart-plus-logo{
            height: 6px;
            width: 6px;
        }

        .nav-search{
            width: 90%;
            margin-left: 10px;
            font-size: small;
            height: 30px;
        }

        /* .nav-search-div{
            width: 50%;
            margin-left: 10px;
        } */

        .nav-login{
            font-size: small;
            width: 150%;
        }

        .nav-seller{
            font-size: small;
            font-weight: bold;
        }

        .nav-dropdown{
            font-size: small;
            font-weight: bold;
            padding: 0px;
            display: flex;
        }

        .nav-cart{
            font-size: small;
            font-weight: bold;
            display: flex;
            margin-left: 5px;
        }
    }

    @media only screen and (min-width:769px) and (max-width:991px){
        .nav-img{
            height: 50px;
            width: 50px;
        }

        .topnav-card{
            width: 50px;
            white-space: nowrap;
            font-size: 15px;
        }

        .flipkart-logo{
            height: 20px;
            width: 50px;
        }

        .flipkart-plus-link{
            height: 10x; 
            font-size: small;
        }

        .nav-search{
            width: 90%;
            margin-left: 20px;
            font-size: small;
            height: 35px;
        }

        .nav-login{
            font-size: medium;
            width: 150%;
        }

        .nav-seller{
            font-size: medium;
            font-weight: bold;
        }

        .nav-dropdown{
            font-size: medium;
            font-weight: bold;
            padding: 0px;
            display: flex;
        }

        .nav-cart{
            font-size: medium;
            font-weight: bold;
            display: flex;
            margin-left: 5px;
        }
    }

    @media only screen and (min-width:992px) and (max-width:1199px){
        .nav-img{
            height: 60px;
            width: 60px;
        }

        .topnav-card{
            width: 60px;
            white-space: nowrap;
            font-size: large;
        }

        .flipkart-logo{
            height: 25px;
            width: 60px;
        }

        .flipkart-plus-link{
            height: 10x; 
            font-size: small;
        }
        
        .nav-search{
            width: 90%;
            margin-left: 20px;
            font-size: medium;
            height: 40px;
        }

        .nav-login{
            font-size: large;
            width: 150%;
        }

        .nav-seller{
            font-size: large;
            font-weight: bold;
        }

        .nav-dropdown{
            font-size: large;
            font-weight: bold;
            padding: 0px;
            display: flex;
        }

        .nav-cart{
            font-size: large;
            font-weight: bold;
            display: flex;
            margin-left: 5px;
        }
    }

    @media only screen and (min-width:1200px){
        .nav-seller{
            margin-left: 35px;
        }
    }
  
 